<ion-header>
  <ion-toolbar>
    <ion-button slot="start" defaultHref="Home">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input color="success" type="text" placeholder="Nome"></ion-input><br>
  <ion-input color="success" type="text" placeholder="Sobrenome"></ion-input><br>
  <ion-input color="success" type="text" placeholder="Email"></ion-input><br>
  <ion-input color="success" type="password" placeholder="Senha"></ion-input><br>
  <ion-input color="success" type="tell" placeholder="Telefone"></ion-input><br>
  <ion-item>
    <ion-label>Vendedor</ion-label>
    <ion-radio color="success"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Consumidor</ion-label>
    <ion-radio color="success"></ion-radio>
  </ion-item><br>
  <ion-button>Cadastro</ion-button>
</ion-content>
