<ion-header>
  <ion-toolbar>
    <ion-button color="success" slot="start" defaultHref="Home">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input color="success" type="text" placeholder="Nome"></ion-input><br>
  <ion-input color="success" type="text" placeholder="Sobrenome"></ion-input><br>
  <ion-input color="success" type="text" placeholder="Email"></ion-input><br>
  <ion-input color="success" type="password" placeholder="Senha"></ion-input><br>
  <ion-input color="success" type="tel" placeholder="Telefone"></ion-input><br>
  <ion-input color="success" type="text" placeholder="Vendedor ou Consumidor"></ion-input><br>
  <ion-button color="success">Cadastro</ion-button>
</ion-content>